django==5.2.1
django-crispy-forms==2.1
oauth2==1.9.0.post1
Pillow==11.1.0
psycopg==3.1.18
#psycopg2-binary==2.9.9
django-bootstrap4==23.4
django-bootstrap4==23.4
crispy-bootstrap4==2023.1
pandas==2.2.3
openpyxl==3.1.2
xlrd==2.0.1
deepl==1.16.0
langdetect==1.0.9
python-dotenv==1.0.1
yfinance==0.2.61
requests==2.32.3
numpy==2.2.5
#usar plotlib.js if needed
#seaborn==0.13.2
plotly==5.19.0
matplotlib==3.10.0
mplfinance==0.12.10b0
python-dotenv==1.0.1